[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pipenv-to-requirements = "*"

[packages]
apache-beam = {extras = ["gcp"],version = "*"}
click = "*"

[requires]
python_version = "3.8"
